body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #f8e8d5;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #574b42;
    font-weight: bold;
    font-size: 16px;
}

/* Cambia el color del enlace cuando se pasa el ratón sobre él */
.nav-links a:hover {
    color: #d291bc;
}
